<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('img/prod1.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Information</h1>
                            <span class="subheading">High end design. Without compromise.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>The platform is lightning fast, secure and fair. Unlike several blockchain based platforms it does not require intensive computation due to Proof of Work. People who do not know each other and therefore don't trust each other, may now collaborate and transact online without the need of a trusted third party. Developers are empowered with the tools to build an entirely new class of distributed applications. NeuroChain’s Four Key Differentiators.</p>
                        <h5 class="elementor-icon-box-title">
                                <span>Intelligent</span>
                        </h5>
                        <p>Bots are intelligent agents acting independently on a specific node in the network. They are powered by machine learning algorithm (Scoring Algorithms).</p>
                        <h5 class="elementor-icon-box-title">
                            <span>Consensus</span>
                        </h5>
                        <p>The new consensus is based on the thermodynamics of the network to score the nodes. The consensus presents a very low latency and a high level of accuracy.</p>
                        <h5 class="elementor-icon-box-title">
                            <span>Flexible</span>
                        </h5>
                        <p>The Proof of Workflow consensus permits the Bots to work in association with one another. This flexible behavior creates an ecosystem of collective artificial intelligence.</p>
                        <h5 class="elementor-icon-box-title">
                            <span>Social</span>
                        </h5>
                        <p>The network limits the applications bandwidth usage. The orphan Bots and the standard blockchains can easily cooperate and become social.</p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
