<!DOCTYPE html>
<html lang="fr">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('img/prod1.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>transaction</h1>
                            <span class="subheading">find your transaction</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <h2 class="post-title">search by ID</h2>
                    </div>
                    <div id="Formulaire">
                        <form method="post">
                                <input type="text" name="IdTx" placeholder="ID" />
                                <testarea id="message" placeholder="Message"></testarea>
                                <input type="submit" value="envoyer" />
                        </form>
                        <script>
                            app.post('/views/index.ejs', function(req,res){
                                    console.log('receiving data ...');
                                    console.log('body is ',req.body);
                                    res.send(req.body);
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        </main>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
